extends layout

block content
  h1= title
  form(action="/login" method="post")
    label(for="user_id") 아이디 
    input(type="text" id="user_id" name="user_id" value="admin")
    br
    label(for="user_pwd") 패스워드  
    input(type="password" id="user_pwd" name="user_pwd" value="")
    br
    input(type="submit")